*{
    background-color: rgb(163, 228, 231);
}

.app {
  padding: 40px;
  background-color: rgb(163, 228, 231);
  font-style: italic;
  font-weight: 500;
}

#text {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.to_do {
  align-items: center;
  display: flex;
  font-size: 18px;
  justify-content: space-between;
  font-weight: 400;
}

.text-center {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.list {
  text-align: center;
  font-size: large;
  font-style: italic;
  font-weight: bold;
  padding-top: 15px;
}

#mybutton {
  background-color: brown;
  font-size: 15px;
}

#addtext {
  font-size: 15px;
  color: rgb(36, 35, 35);
  text-align: center;
}