head {
  background-position: center;
}

body {
    background-image: url(img/sean.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.app {
  padding: 40px;
  font-style: italic;
  font-weight: 500;
  background-position: center;
}

#text {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.to_do {
  align-items: center;
  display: flex;
  font-size: 18px;
  justify-content: space-between;
  font-weight: 400;
}

.text-center {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: purple;
}

.list {
  text-align: center;
  font-size: large;
  font-style: italic;
  font-weight: bold;
  padding-top: 15px;
  color: purple;
}
.card {
 display: flex;
 position: absolute;
 width: 62vw;
 transform: translate(16%);
}

#mybutton {
  background-color: purple;
  font-size: 15px;
}

#addtext {
  font-size: 15px;
  color: purple;
  text-align: center;
}

.by {
  text-align: center;
}